body {
  margin: 0;
}
.App {
  text-align: center;
  height: 100%;
}

.mapContainer {
  width: 65vw;
  height: 100vh;
  display: inline-block;
  float: left;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}

.visualisationsContainer {
  width: 30vw;
  float: right;
  display: inline-block;
  height: 100vh;
}
